# Ignore everything
/*

/.config/*
!/.config
/.config/karabiner/automatic_backups
!/.config/nvim
!/.config/karabiner
!/.config/alacritty
!/keyboard-firmware
!/.fonts

/.oh-my-zsh-custom/*
!/.oh-my-zsh-custom
!/.oh-my-zsh-custom/themes
!/.oh-my-zsh-custom/plugins

!/.zshrc
!/.gitconfig
!/.gitignore
!/.rgignore
!/.gitignore_global
!/.gitattributes_global
!/Brewfile
!/Brewfile.lock.json

