[core]
	editor = nvim
	excludesfile = ~/.gitignore-global
	attributesfile = ~/.gitattributes_global
[user]
	name = superbuggy
	email = jpqreichard@gmail.com
	signingkey = 6DFD3A89
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[pull]
	rebase = true
[filter "gemini_api_key_filter"]
	smudge = cat
[filter "hidden_aliases"]
	clean = sed '/source \"\\$HOME\\/\\._aliases\"/d' 
	smudge = cat
