# Ignore everything
/*

/.config/*
!/.config
/.config/karabiner/automatic_backups
!/.config/nvim
!/.config/karabiner

/.oh-my-zsh/*
!/.oh-my-zsh/custom

!/.zshrc
!/.bash_profile
!/.gitignore
!/.gitignore_global
