[user]
  email = jpqreichard@gmail.com
  name = superbuggy
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig.working-dir-alternates
[url "github.com-superbuggy:superbuggy/"]
  insteadOf = git@github.com:superbuggy/

